// Import LESS Elements 0.6 by Dmitry Fadeyev
@import "elements.less";

// Import normalize CSS from H5BP
@import "normalize.less";

/* =============================================================================
   Styles
   ========================================================================== */

// Colour Variables
@yellow: #f2c536;
@black: #000;
@grey: #eee;

//Typography
@bodyColor: #444;

/* -----------------------------------------------------------------------------
   Fonts
   -------------------------------------------------------------------------- */
@font-face {
	font-family: 'Avenir';
	src: url('assets/type/AvenirRoman.eot');
	src: url('assets/type/AvenirRoman.eot?#iefix') format('embedded-opentype'),
		 url('assets/type/AvenirRoman.woff') format('woff'),
		 url('assets/type/AvenirRoman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('assets/type/AvenirBlack.eot');
	src: url('assets/type/AvenirBlack.eot?#iefix') format('embedded-opentype'),
		 url('assets/type/AvenirBlack.woff') format('woff'),
		 url('assets/type/AvenirBlack.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('assets/type/modernpics-webfont.eot');
    src: url('assets/type/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/type/modernpics-webfont.woff') format('woff'),
         url('assets/type/modernpics-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* -----------------------------------------------------------------------------
   Base Styles
   -------------------------------------------------------------------------- */

body {
	background:@grey;
	font-weight: normal;
	font:14px/18px 'Avenir', Helvetica, Arial, sans-serif;
	color: @bodyColor;
}

.wrapper{
	width: 940px;
	margin:0 auto;
}

h1 {
	font-size: 2.15em;
	color:#fff;
	background: @yellow;
	display: inline-block;
	padding:10px 20px;
	text-transform: uppercase;
}

h3 {
	font-size:1em;
	color:@yellow;
	font-weight: bold;
	text-transform: uppercase;
}
/* -----------------------------------------------------------------------------
   Header Styles
   -------------------------------------------------------------------------- */

header.page {
	height:66px;
	background:@black;
	
	.background {
		width: 42.5%;
		position: absolute;
		left: 0;
		background: #fff;
		height: 66px;
	}

	.logo {
		width:350px;
		height:66px;
		float:left;
		position: relative;
		z-index: 10;

		a {
			background: url(assets/img/logo_small.png) top left no-repeat;
			display: block;
			width:350px;
			height:66px;
		}
	}

	nav.main-menu {
		float:left;

		ul {
			list-style: none;
			margin:25px 0 0 50px;
			padding:0;

			li {
				float:left;
				margin-left:20px;

				&:first-child{
					margin-left: 0;
				}
				&.dropdown:after {
					font-family:'ModernPictogramsNormal';
					font-size:1.25em;
				    content:'/';
				    color:#fff;
				    padding-left:5px;
				}

				&.dropdown ul {
					display: none;
					margin:0;

					li {
						float: none;
					}
				}
			}
		}

		a {
			font-weight: bold;
			//font-size: 12px;
			color:#FFF;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color:@yellow;
			}

		}	
	}
}



/* -----------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */

footer.page {

	background:#fff;
	padding: 40px 0;

	.widget {
		float:left;
		margin-top:20px;
		margin-left:40px;

		&:first-child {
			margin-left: 0px;
		}
	}
}

.widget-contact .vcard {

	.logo {
			background: url(assets/img/logo_big.png) top left no-repeat;
			display: block;
			width:220px;
			height:66px;
			margin-bottom:20px;
	}
	
	.org, .adr, .street-address, .tel {
		display:block;
	}
}

// Import helper classes from H5BP
@import "helpers.less";

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}